@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui" ;


@plugin "daisyui" {
  themes: caramellatte --default, coffee --prefersdark;
  --font-poppins: poppins, sans-serif;
};

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  hover: "oklch(90% 0.182 98.111)";
  --color-base-content: "oklch(100% 0 0)";
  --color-background: "bg-gradient-to-tl from-zinc-900/0  to-zinc-900/0";
  --color-primary-content: "oklch(100% 0 0)";
  --color-accent: "oklch(100% 0 0)";
  
}

/* color for light */
@plugin "daisyui/theme" {
  name: "winter";
  default: true;
  
  
}

@font-face {
  font-family: 'RowdiesVariable';
  src: url('/fonts/Rowdies-VariableFont_wght.woff2') format('woff2-variations'); /* Or 'woff2' for broader browser support */
  font-weight: 100 900; /* Define the range of weights supported by Rowdies */
  font-display: swap; /* Recommend using 'swap' for better user experience */
}


