@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui" ;


@plugin "daisyui" {
  themes: caramellatte --default, coffee --prefersdark;
  --font-poppins: poppins, sans-serif;
};

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  hover: "oklch(90% 0.182 98.111)";
  --color-base-content: "oklch(100% 0 0)";
  --color-background: "bg-gradient-to-tl from-zinc-900/0  to-zinc-900/0";
  --color-primary-content: "oklch(100% 0 0)";
  --color-accent: "oklch(100% 0 0)";
  
}

/* color for light */
@plugin "daisyui/theme" {
  name: "winter";
  default: true;
  
  
}


