@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-rowdies-sans);
}
/* //if viewer prefers dark scheme */
@media (prefers-color-scheme: dark) { 
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  .theme.adaptive{
    --background: #0a0a0a;
    --foreground: #ededed;
  }
/*//if viewer prefers light scheme 
}
@media (prefers-color-scheme: light) { 
  :root {
    --background: #eeeeee ;
    --foreground: #ededed;
  }
   */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, Rowdies;
}
