#This is a workflow to update the outfolder  in S3 on a push to the repo. 

name: Update Out Folder

on:
  push: 
    branches:
      - main
    paths: 
      - "out/*"
      
      


    
permissions:
      id-token: write
      contents: read


jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT}}:role/github-oidc-role
          aws-region: us-east-1

      - name: Upload files to S3
        run: | # aws s3 sync out/ ${{ secrets.S3_BUCKET}}/out/ --delete  
          aws s3 sync out/_next ${{ secrets.S3_BUCKET}}/_next 
          aws s3 sync out/images ${{ secrets.S3_BUCKET}}/images 
          aws s3 cp out/about.html ${{ secrets.S3_BUCKET}}/about.html
          aws s3 cp out/about.txt ${{ secrets.S3_BUCKET}}/about.txt
          aws s3 cp out/contact.html ${{ secrets.S3_BUCKET}}/contact.html 
          aws s3 cp out/contact.txt ${{ secrets.S3_BUCKET}}/contact.txt
          aws s3 cp out/index.html ${{ secrets.S3_BUCKET}}/index.html
          aws s3 cp out/index.txt ${{ secrets.S3_BUCKET}}/index.txt
          aws s3 cp out/profile.html ${{ secrets.S3_BUCKET}}/profile.html 
          aws s3 cp out/profile.txt ${{ secrets.S3_BUCKET}}/profile.txt  
          aws s3 cp out/projects.html ${{ secrets.S3_BUCKET}}/projects.html
          aws s3 cp out/projects.txt${{ secrets.S3_BUCKET}}/projects.txt
           aws s3 cp out/icon.ico ${{ secrets.S3_BUCKET}}/icon.ico 
          aws s3 cp out/404.html ${{ secrets.S3_BUCKET}}/404.html


             
          
          
      - name: Invalidate CloudFront cache 
        run:
            aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUD_DISTRIBUTION}} --paths "/*" 


